.tocify-wrapper {
  font-size: 15px;

  .tocify-focus, .tocify-hover {
    background: none !important;
    color: $aside-warning-bg;
  }

  .tocify-item {
    box-shadow: none;
  }

  .tocify-subheader {
    .tocify-item > a {
      font-size: 15px;
    }
  }
}

.content blockquote > p {
  border: none;
}

pre.inline {
  float: none;
  clear: none;
}

.content aside.warning {
  color: #FFF;
}